.proposal {
  .state {
    &.open { @include success; }
    &.closed { @include error; }
  }
  .user {
    color: lighten($header-color, 40);
    margin-bottom: 1.5em;
  }
}

#comments {
  textarea {
    width: 100%;
  }

  .comment {
    border-top: 1px solid $divider_color;
    padding: .75em 0;
    p {
      margin: 0;
    }
  }
}

#sidebar {
  #votes {
    .percentage {
      font-size: 1.4em;
      margin-bottom: .2em;
    }
    
    .count {
      font-size: .8em;
      margin-bottom: 1em;
    }
        
    .against {
      @include column(ceil($sidebar-columns / 2), true);
      text-align: center;
      
      .wrapper { @include error; }
    }
    
    .in_favor {
      @include column(floor($sidebar-columns / 2));
      text-align: center;
      
      .wrapper { @include success; }
    }
  }  
}
