#header {
  background: $header_bg_color;
  border-bottom: 5px solid $header_border_color;
  color: $header_text_color;
  margin-bottom:1.5em;
  padding:1.5em 0 0;

  #logo {
    @include column($content-columns);
    font-size: 1.4em;
    font-weight: bold;
    a {
      @include link-colors($logo_color);
      text-decoration: none;
    }
  }

  #user_session {
    @include column($sidebar-columns, true);
    padding: .3em 0;
    ul {
      @include inline-list;
      float: right;
    }
    a {
      @include link-colors(lighten($link-color, 20));
      padding-left: .5em;
    }
  }

  #navigation {
    float: left;
    margin-top: 1em;
    width: 100%;
    ul { @include horizontal-list; }
    a {
      @include hover-link;
      @include link-colors($nav_link_color);
      background: $nav_link_bg_color;
      border-bottom: 0;
      line-height: 2em;
      padding: 1em;
    }
  }
}

nav.tabs {
  display: block;
  margin-bottom: 1.5em;
  ul {
    @include horizontal-list;
    border-bottom: 1px solid $tabs_border_color;
    a {
      @include hover-link;
      @include link-colors($tabs_link_color);
      background: $tabs_bg_color;
      border: 1px solid $tabs_border_color;
      border-bottom: none;
      display: block;
      padding: .5em 1em;
    }
  }
}

#sidebar {
  .nav {
    background: $sidebar_bg_color;
    border: 1px solid $sidebar_border_color;
    padding-top: 1.5em;
  }
}

#footer {
  border-top: 1px solid $divider_color;
  float: left;
  font-size: .8em;
  font-style: italic;
  margin-top:1.5em;
  padding: 1.5em 0;
  width: 100%;
  
  a {
    @include link-colors($footer_link_color);
  }
}
