#header {
  border-bottom:1px solid $quiet-color;
  margin-bottom:1.5em;
  padding:1.5em 0 0;

  #logo {
    @include column($content-columns);
    font-weight:bold;
  }

  #user_session {
    @include column($sidebar-columns, true);
    ul { @include horizontal-list(.5em, right); }
  }

  #navigation {
    float: left;
    margin-top: 1em;
    width: 100%;
    ul { @include horizontal-list; }
    a {
      @include hover-link;
      background: #ccc;
      border: 1px solid;
      border-bottom: 0;
      padding: 0 1em;
    }
  }
}


#footer {
  border-top:1px solid $quiet-color;
  margin-top:1.5em;
  padding:1.5em 0;
}
